@model BloggerWay.Entities.Dtos.ArticleDto
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = Model.Article.Title;
    ViewBag.Description = Model.Article.SeoDescription;
    ViewBag.Author = Model.Article.SeoAuthor;
    ViewBag.Tags = Model.Article.SeoTags;
}
<!-- Post Content Column -->
<div  class="col-lg-8">

    <!-- Title -->
    <h1 style="color:black" class="mt-4"><b>@Model.Article.Title</b></h1>

    <!-- Author -->
    <p style="color:black" class="lead">
        <b> @Model.Article.User.UserName tarafından @Model.Article.Date.ToShortDateString() tarihinde paylaşılmıştır.</b>
    </p>

    <hr>

    <!-- Preview Image -->
    <div class="text-center">
    <img class="img-fluid rounded" src="~/img/@Model.Article.Thumbnail" alt="@Model.Article.Title">
    </div>
    <hr>

    <!-- Post Content -->
    <p> @Html.Raw(@Model.Article.Content)</p>

    <hr>
    
    <p class="text-center">Okunma Sayısı: <span class="badge badge-info">@Model.Article.ViewCount</span> Yorum Sayısı: <span class="badge badge-warning">@Model.Article.CommentCount</span></p>

    <!-- Comments Form -->
    <div style="background-color:#007bff" class="card my-4">
        <h5 style="color:white" class="card-header">Bir yorum ekle:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button style="background-color:yellow" type="submit" class="btn btn-primary"><p style="color:black">Ekle</p></button>

            </form>
        </div>
    </div>

    @foreach (var comment in Model.Article.Comments)
    {
        <!-- Single Comment -->
        <div  class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="https://randomuser.me/api/portraits/men/34.jpg" alt="">
            <div class="media-body">
                <h5 class="mt-0">@comment.CreatedByName</h5>
                @comment.Text
            </div>
        </div>
    }
</div>