@using Microsoft.Extensions.Options
@using BloggerWay.Entities.Concrete
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOptionsSnapshot<WebsiteInfo> WebsiteInfo
@{
    var websiteInfo = WebsiteInfo.Value;
}
<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@websiteInfo.SeoDescription">
    <meta name="author" content="@websiteInfo.SeoAuthor">
    <meta name="keywords" content="@websiteInfo.SeoTags"/>

    <title>@ViewBag.Title | @websiteInfo.Title</title>

    <link rel="stylesheet" type="text/css" href="~/blog/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/blog/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/blog/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/blog/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/blog/js/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/blog/js/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/blog/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/blog/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/blog/css/color.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" crossorigin="anonymous" />
</head>
<body>
  <partial name="_MainMenuPartial"/>
  


        <section class="main-content pb-0">
            <div class="container">
                <div class="row">
                    @RenderBody()
                    <div class="col-lg-4">
                        <div class="sidebar">
                           
                            @await Component.InvokeAsync("RightSideBar");


                        </div>
                    </div>
                </div>
            </div>
        </section>



        <footer style="background-color:#182539">
            <div class="container">
                <div  class="footer-content">
                    <div class="row">
                        <div  class="col-lg-4 col-md-6 col-sm-6">
                            <div class="ft-logo">
                                <h1><a asp-controller="Home" asp-action="Index">@websiteInfo.MenuTitle</a></h1>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <ul class="ft-links">
                                <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                                     <li><a asp-controller="Home" asp-action="About">Hakkımızda</a></li>
                             <li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <section class="bottom-strip">
            <div class="container">
                <p style="color:aliceblue">©2022 BloggerWay Tüm Hakları Saklıdır.</p>
            </div>
        </section>

        <div class="search-page">
            <form>
                <div class="container">
                    <div class="form-field">
                        <input type="text" name="search" placeholder="Enter Your Keywords">
                        <button type="submit"><i class="la la-search"></i></button>
                    </div>
                </div>
            </form>
            <a href="#" title="" class="close-search"><i class="la la-close"></i></a>
        </div>
    

    <script src="~/blog/js/jquery.min.js"></script>
    <script src="~/blog/js/popper.js"></script>
    <script src="~/blog/js/bootstrap.min.js"></script>
    <script src="~/blog/js/lib/slick/slick.js"></script>
    <script src="~/blog/js/script.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts",false)

</body>
</html>